/* Import Google Font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(350deg, #eae6b2 0, #e3e8b4 4.17%, #dbeab7 8.33%, #d3ebba 12.5%, #ccedbf 16.67%, #c4eec4 20.83%, #bdf0ca 25%, #b6f1d0 29.17%, #aff1d7 33.33%, #a9f2dd 37.5%, #a4f2e4 41.67%, #a0f2eb 45.83%, #9df2f2 50%, #9bf2f8 54.17%, #9bf1ff 58.33%, #9df0ff 62.5%, #a0efff 66.67%, #a5eeff 70.83%, #abecff 75%, #b2eaff 79.17%, #bae8ff 83.33%, #c2e6ff 87.5%, #cbe4ff 91.67%, #d4e2ff 95.83%, #dde0ff 100%);
}
.box{
  padding: 30px;
  width: 350px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.text, .key-code, .key-name{
  font-size: 50px;
  color: #C65E5D;
  font-weight: 600;
}
.text{
  font-size: 30px;
  text-align: center;
  pointer-events: none;
}
.box.active .text{
  display: none;
}
.content, .key-code, .details{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  display: none;
  flex-direction: column;
}
.box.active .content{
  display: flex;
}
.content .key-code{
  height: 110px;
  width: 110px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 15px;
  pointer-events: none;
  border: 5px solid #C65E5D;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content .details{
  width: 100%;
  margin-top: 15px;
  justify-content: space-evenly;
}
.details p{
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.details p:last-child{
  border-left: 1px solid #bfbfbf;
}